# Config
configs/config.ts

# Node modules
node_modules

# Contracts
contracts/**/*.code
contracts/**/*.decode
contracts/**/*.conf.json
contracts/**/*.keys.json

# Yarn
*.log

# TonOS CLI config in root directory
*cli.conf.json